/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.knight-finder {
	&__status {
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 8px;

		p {
			margin: unset;
		}

		&.active {
			background-color: #defabb;
			color: #008b00;
		}

		&.inactive {
			background-color: #ffebee;
			color: #b71c1c;
		}
	}
}
